<div class="container">
        <h2><%= title %></h2>
        <div class="col-sm-6 col-md-2 thum">
            <img src="/images/recruit.png" class="img-rounded" alt="...">        
            <h5>招聘人员</h5>
            <h3><%= data_recruit %></h3>
        </div>
        <div class="col-sm-6 col-md-2 thum">
            <img src="/images/seeker.png" class="img-rounded" alt="...">        
            <h5>求职人员</h5>
            <h3><%= data_seeker %></h3>
        </div>
        <div class="col-sm-6 col-md-2 thum">
            <img src="/images/man.png" class="img-rounded" alt="...">        
            <h5>男职员</h5>
            <h3><%= data_man %></h3>
        </div>  
        <div class="col-sm-6 col-md-2 thum">
            <img src="/images/woman.png" class="img-rounded" alt="...">        
            <h5>女职员</h5>
            <h3><%= data_woman %></h3>
    </div>
</div>

