<div class="container">
    <h2><%= title %></h2>

    <!-- <ul class="pagination" id="pagination">  
    </ul>   -->
    <table class="table table-bordered table-condensed mastertable table-hover"   style="overflow-y:auto;">
        <thead>
            <tr>
                <td>来源</td>
                <td>用户名</td>
                <td>类型</td>
                <td>内容</td>
                <td>联系方式</td>
                <td>权限</td>
            </tr>
        </thead>
        <tbody>
            <% data.forEach(function(item){ %>                
                <tr>    
                    <td><%= item.people %></td>                
                    <td><%= item.username %></td>
                    <td><%= item.sort %></td>
                    <td><%= item.txt %></td>
                    <td><%= item.tel %></td>
                    <td>
                        <form action="/admin/all/delFeedback" id="<%= item.id %>" method="post" style="display: none">
                            <input type="hidden" name="d_feed" value="<%= item.id %>">
                        </form>
                        <button onclick="if(confirm('你确定彻底删除吗？')){
                            document.getElementById('<%= item.id %>').submit();
                            event.preventDefault();
                        }" class="btn btn-sm btn-danger">删除</button>
                    </td>
                   
                </tr>
            <% }) %>
        </tbody>
    </table>
     
</div>
<!-- <script>
 
    $(document).ready(function() {  
        
    if($("#pagination")){  
        var pagecount = '<%= locals.pagecount %>';  
        var pagesize = '<%= locals.pagesize %>';  
        var currentpage = '<%= locals.currentpage %>';  

        var counts,pagehtml="";  
        if(pagecount%pagesize==0){  
            counts = parseInt(pagecount/pagesize);  
        }else{  
            counts = parseInt(pagecount/pagesize)+1;  
        }  
        //只有一页内容  
        if(pagecount<=pagesize){pagehtml="";}  
        //大于一页内容  
        if(pagecount>pagesize){  
            if(currentpage>1){  
                pagehtml+= '<li><a href="/admin/msg/'+(currentpage-1)+'">上一页</a></li>';  
            }  
            for(var i=0;i<counts;i++){  
                if(i>=(currentpage-3) && i<(currentpage+3)){  
                    if(i==currentpage-1){  
                        pagehtml+= '<li class="active"><a href="/admin/msg/'+(i+1)+'">'+(i+1)+'</a></li>';  
                    }else{  
                        pagehtml+= '<li><a href="/admin/msg/'+(i+1)+'">'+(i+1)+'</a></li>';  
                    }  
                      
                }  
            }  
            if(currentpage<counts){  
                pagehtml+= '<li><a href="/admin/msg/'+(currentpage+1)+'">下一页</a></li>';  
            }  
        }  
        $("#pagination").html(pagehtml);  
    }  
});  
</script> -->