<div class="container">
    <h2><%= title %></h2>
    <h2></h2>
    <form class="form-horizontal" id="article-form" style="width: 40%;margin: 0 auto" action="" method="POST" action="/admin/all/updateArticle">
        <input type="hidden" name="id" value="<%= id %>">
        <input type="text" name='sort' value="<%= sort %>" class="input-lg form-control"><br>
        <input type="text" name='title' value="<%= head %>" class="input-lg form-control"><br>
        <div class="form-group">
            <textarea class="form-control" rows="10" id="txtarea" name="content"><%= content %></textarea>
        </div>

        <button class="btn btn-success" type="button" onclick="if(true){document.getElementById('article-form').submit();}">确认更改</button>

    </form>
</div>
