
<div class="container">
            <h2><%= title %></h2>               

    <ul class="nav nav-tabs nav-justified">
        <li class="active sort"><a href="#recruit" data-toggle="tab">招聘注册信息</a></li>
        <li class="sort"><a href="#seeker" data-toggle="tab">求职注册信息</a></li>
        <!-- <form role="form" class="search">
                <div class="input-group">
                    <input type="text" class="form-control">
                    <button class="btn btn-info">搜索用户</button>
                </div>
        </form> -->
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade in active" id="recruit">

            <table class="table  table-hover table-condensed usertable">
                <thead>
                    <tr>
                        <th>序号</th>
                        <th>用户名</th>
                        <!-- <th>密码</th> -->
                        <th>手机号</th>
                        <th>邮箱</th>
                        <th>权限</th>
                    </tr>
                </thead>
                <tbody>
                    <% data1.forEach(function(item){ %>
                        <tr>
                            <td><%= item.r_id %></td>
                            <td><%= item.username %></td>                            
                            <!-- <td><%= item.password %></td> -->
                            <td><%= item.phone %></td>
                            <td><%= item.email %></td>
                            <td>
                                <form action="/admin/all/delUser_recruit" id="<%= item.r_id %>" method="post">
                                    <input type="hidden" name="r_user" value="<%= item.r_id %>">
                                </form>
                                <button class="btn btn-danger btn-sm"  onclick="if(confirm('你确定将用户<%= item.name %> 彻底删除吗？')){
                                    document.getElementById('<%= item.r_id %>').submit();
                                    event.preventDefault(); }">删除     
                                </button>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
               

        </div>

        <div class="tab-pane fade" id="seeker">
            <table class="table  table-hover table-condensed usertable">
                <thead>
                    <tr>
                        <th>序号</th>
                        <th>用户名</th>
                        <!-- <th>密码</th> -->
                        <th>手机号</th>
                        <th>邮箱</th>
                        <th>权限</th>
                    </tr>
                </thead>
                <tbody>
                    <% data2.forEach(function(item){ %>
                        <tr>
                            <td><%= item.s_id %></td>
                            <td><%= item.username %></td>
                            <!-- <td><%= item.password %></td> -->
                            <td><%= item.phone %></td>
                            <td><%= item.email %></td>
                            <td>
                                <form action="/admin/all/delUser_seeker" id="<%= item.s_id %>" method="post">
                                    <input type="hidden" name="s_user" value="<%= item.s_id %>">
                                </form>
                                <button class="btn btn-danger btn-sm"  onclick="if(confirm('你确定将用户<%= item.name %> 彻底删除吗？')){
                                    document.getElementById('<%= item.s_id %>').submit();
                                    event.preventDefault(); }">删除     
                                </button>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>

        </div>
    </div>
                

</div>